<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TelegramBotId" value="223796466:AAGbLjUUnxhDaybfieAiFEFfPrgcJQ9MUbk"/>

    <add key="TelegramChanId" value="-176245781"/>



    <add key="IrcServer" value="irc.german-freakz.net"/>


    <add key="IrcChannel" value="#lamadings"/>
    <add key="ImageSavePath" value="D:\temp\imagesavepath"/>
    <add key="ImageUrlPath" value="http://40.69.30.146:1337"/>
    

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>